@font-face {
  font-family: Poppins-Regular;
  src: url(assets/brand/fonts/Poppins-Regular.ttf);
}

@font-face {
  font-family: Poppins-Light;
  src: url(assets/brand/fonts/Poppins-Light.ttf);
}

@font-face {
  font-family: Poppins-Bold;
  src: url(assets/brand/fonts/Poppins-Bold.ttf);
}

@font-face {
  font-family: Poppins-SemiBold;
  src: url(assets/brand/fonts/Poppins-SemiBold.ttf);
}

.container {
  max-width: 1280px;
}

.half-container {
  max-width: 940px;
}

.medium-container {
  max-width: 500px;
}

input {
  outline: none;
  border-style: solid;
  border-color: gray;
  border-width: 1px;
  font-family: Poppins-Light;
  padding-left: 10px;
  width: 250px;
  margin-right: 10px;
}
/*
 * Custom translucent site header
 */

.link-container {
  width: 300px;
}

.site-header {
  background-color: rgb(255, 255, 255);
  font-family: Poppins-Light;
  font-size: 12pt;
  padding-top: 100px;
  /* -webkit-backdrop-filter: saturate(180%) blur(20px); */
  /* backdrop-filter: saturate(180%) blur(20px); */
}

.site-header a {
  text-decoration: none;
  color: #000;
}

button {
  background-color: purple;
  stroke: none;
  color: white;
  font-family: Poppins-SemiBold;
  font-size: 10pt;
  height: 45px; 
  border: none;
  width: 145px;
  transition: all .15s linear;
}

button:hover {
  text-decoration: none;
  background:#000
}

.title-text {
  font-family: Poppins-Light;
  font-size: 50px;
  text-align: left;
}

.subheading {
  font-family: Poppins-Light;
  font-size: 23px;
  text-align: left;
}
/*
 * Extra utilities
 */

.flex-equal > * {
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    flex: 1;
  }
}
